// about page
#about-page {
    padding-top: 50px;
    padding-bottom: 50px;
    @include breakpoint(laptop) {
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 15px;
    }
    @include breakpoint(tablet) {
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 15px;
    }
    @include breakpoint(phone) {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 14px;
    }
    .about-content {
        margin-bottom: 90px;
        display: flex;
        @include breakpoint(laptop) {
            margin-bottom: 50px;
        }
        @include breakpoint(tablet) {
            display: block;
            margin-bottom: 40px;
        }
        @include breakpoint(phone) {
            display: block;
            margin-bottom: 40px;
        }
        &:nth-child(even) {
            .image-holder {
                order:2;
            }
            .content {
                padding-left: 0px;
                padding-right: 5%;
                @include breakpoint(tablet) {
                    padding-right: 0px;
                }
                @include breakpoint(phone) {
                    padding-right: 0px;
                }
            }
        }
        .image-holder {
            width: 45%;
            @include breakpoint(tablet) {
                width: 100%;
            }
            @include breakpoint(phone) {
                width: 100%;
            }
            img {
                width: 100%;
                @include breakpoint(tablet) {
                    height: 350px;
                    object-fit: cover;                    
                }
                @include breakpoint(phone) {
                    height: 330px;
                    object-fit: cover;
                }
            }
        }
        .content {
            width: 50%;
            align-self: center;
            padding-left: 5%;
            @include breakpoint(tablet) {
                padding-left: 0px;
                width: 100%;
                padding-top: 30px;
            }
            @include breakpoint(phone) {
                padding-left: 0px;
                width: 100%;
                padding-top: 30px;
            }
            h4 {
                font-size: 2.813em;
                line-height: 1.35;
                color: $main-heading;
                margin-bottom: 35px;
                @include breakpoint(desktop) {
                    margin-bottom: 20px;
                }
                @include breakpoint(laptop) {
                    margin-bottom: 20px;
                }
                @include breakpoint(phone) {
                    margin-bottom: 20px;
                }
            }
            p {
                margin-bottom: 50px;
                font-family: $font-light;
                font-weight: 300;
                font-size: 1.125em;
                letter-spacing: 0.01em;
                line-height: 1.77;
                color: $regular-text;
                @include breakpoint(desktop) {
                    margin-bottom: 30px;
                }
                @include breakpoint(laptop) {
                    margin-bottom: 20px;
                }
                @include breakpoint(tablet) {
                    margin-bottom: 30px;
                }
                @include breakpoint(phone) {
                    margin-bottom: 30px;
                }
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
}