// contact page
#contact-page {
    padding-top: 80px;
    padding-bottom: 100px;
    @include small-lap {
        padding-top: 60px;
        padding-bottom: 70px;
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        padding-top: 60px;
        padding-bottom: 70px;
        font-size: 15px;
    }
    @include breakpoint(tablet) {
        padding-top: 50px;
        padding-bottom: 60px;
        font-size: 15px;
    }
    @include breakpoint(phone) {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 14px;
    }
    // form
    .contact-form {
        header {
            padding-bottom: 40px;
            border-top:1px solid rgba(112,112,112,0.13);
            @include breakpoint(phone) {
                padding-bottom: 30px;
            }
            h4 {
                font-family: $font-med;
                font-weight: 600;
                font-size: 1.875em;
                letter-spacing: 0.03em;
                color: #1b1919;
                background: $white;
                padding-right: 15px;
                display: inline-block;
                position: relative;
                top:-15px;
                
            }
        }
        .form-block {
            margin-bottom: 30px;
            @include breakpoint(laptop) {
                margin-bottom: 20px;
            }
            @include breakpoint(phone) {
                margin-bottom: 20px;
            }
            label {
                display: block;
                font-size: 0.9em;
                letter-spacing: 0.03em;
                color: #212121;
                opacity: 0.9;
                margin-bottom: 8px;
            }
            input[type="text"], input[type="tel"], input[type="email"] {
                width: 100%;
                height: 53px;
                background: #fff;
                border: 1px solid #d9d9d9;
                padding-left: 20px;
            }   
            textarea {
                width: 100%;
                height: 171px;
                background: #fff;
                border: 1px solid #d9d9d9;
                
            }
        }
        input[type="submit"] {
            display: inline-block;
            border:none;
            width: 186px;
            height: 64px;
            background: $brown;
            color:$white;
            font-size: 1.1em;
            font-family: $font-med;
            font-weight: 500;
            @include breakpoint(laptop) {
                height: 60px;
                line-height: 60px;
            }
            &:hover {
                background: $black;
            }
        }
    }
    // info block
    .info-block {
        padding-left: 50px;
        @include breakpoint(laptop) {
            padding-left: 15px;
        }
        @include breakpoint(tablet) {
            padding-left: 0px;
        }
        @include breakpoint(phone) {
            padding-left: 0px;
        }
        header {
            margin-top: -15px;
            padding-bottom: 30px;
            @include breakpoint(phone) {
                margin-top: 30px;
            }
            h5 {
                font-family: $font-med;
                font-weight: 600;
                font-size: 1.688em;
                letter-spacing: 0.03em;
                color: #1b1919;
                
            }
        }
        p {
            font-family: $font-light;
            font-weight: 300;
            font-size: 1.125em;
            letter-spacing: 0.01em;
            line-height: 1.7;
            color: #7e7e7e;
            
        }
        .info {
            padding-top: 50px;
            h6 {
                font-family: $font-med;
                font-weight: 600;
                font-size: 1.688em;
                letter-spacing: 0.03em;
                color: #1b1919;         
                margin-bottom: 40px;       
            }
            .info-content {
                position: relative;
                margin-bottom: 40px;
                padding-left: 70px;
                img {
                    position: absolute;
                    top:0px;
                    left:0px;
                }
                small {
                    display: block;
                    font-family: $font-light;
                    font-size: 0.9em;
                    letter-spacing: 0.01em;
                    color: #7e7e7e;
                    line-height: 1.2;
                    margin-bottom: 5px;                    
                    display: block;
                    a {
                        color: #7e7e7e;
                        &:hover {
                            color:$brown;
                        }
                    }
                }
                span {
                    display: block;
                    font-family: $font-light;
                    font-size: 0.9em;
                    letter-spacing: 0.01em;
                    color: #7e7e7e;
                    line-height: 1.2;
                    margin-bottom: 5px;
                    a {

                    }
                }
            }
        }
    }
    // socials
    .socials {
        padding-top: 40px;
        small {
            font-family: $font-main;
            font-size: 1.1em;
            letter-spacing: 0.03em;
            color: #1b1919;
            margin-right: 10px;
        }
        ul {
            display: inline-block;
            li {
                display: inline-block;
                margin-right: 10px;
                a {
                    display: inline-block;
                    color:#666666;
                    &:hover {
                        color:$brown;
                    }
                }
            }
        }
    }
}