// hero banner
#hero-banner {
    position: relative;
    margin-top: 140px;
    @include breakpoint(desktop) {
        font-size: 15px;
    }
    @include small-lap {
        font-size: 15px;
        margin-top: 120px;
    }
    @include breakpoint(laptop) {
        font-size: 14px;
        margin-top: 120px;
    }
    @include breakpoint(tablet) {
        margin-top: 120px;
        font-size: 14px;
    }
    @include breakpoint(phone) {
        font-size: 13px;
        margin-top: 110px;
    }
    #hero-slider {
        .item {
            position: relative;
            img {
                width: 100%;
                height: 685px;
                object-fit: cover;
                @include small-lap {
                    height: 600px;
                }
                @include breakpoint(laptop) {
                    height: 600px;
                }
                @include breakpoint(tablet) {
                    height: 600px;
                }
                @include breakpoint(phone) {
                    height: 480px;
                }
            }
            .overlay {
                @include overlay;
                background: rgba(0,0,0,0.50);
            }
            .caption {
                @include overlay;
                .container {
                    height: 100%;
                    .holder {
                        @include centre(both);
                        text-align: center;
                        max-width: 570px;
                        @include breakpoint(tablet) {
                            max-width: 700px;
                            width: 70%;
                        }
                        @include breakpoint(phone) {
                            max-width: 90%;
                            width: 90%;
                            margin-top: -30px;
                        }
                        h6 {
                            font-family: $font-light;
                            font-weight: 300;
                            font-size: 1.063em;
                            letter-spacing: 0.18em;
                            color: $white;
                            margin-bottom: 30px;
                            @include breakpoint(laptop) {
                                margin-bottom: 20px;
                            }
                            @include breakpoint(tablet) {
                                margin-bottom: 20px;
                            }
                            @include breakpoint(phone) {
                                margin-bottom: 20px;
                            }
                        }
                        h2 {
                            color:$white;
                            font-size: 3.438em;
                            letter-spacing: -0.02em;
                            line-height: 1.1;
                            @include breakpoint(tablet) {
                                font-size: 3.2em;
                            }
                            @include breakpoint(phone) {
                                font-size: 3em;
                            }
                        }
                        a.btn-cta {
                            display: inline-block;
                            margin-top: 35px;
                            color:$white;
                            font-family: $font-med;
                            font-size: 1.188em;
                            letter-spacing: 0.18em;
                            color: $white;
                            position: relative;
                            @include breakpoint(phone) {
                                margin-top:20px;
                            }
                            &:after {
                                width: 0%;
                                height: 2px;
                                background: $white;
                                content:'';
                                display: block;
                                margin-top: 5px;
                                @include animate-fade;
                            }
                            &:hover {
                                &:after {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // cateogry slider
    .category-wrapper {
        position: absolute;
        bottom:40px;
        width: 100%;
        text-align: center;
        left:0px;
        @include small-lap {
            bottom:30px;
        }
        @include breakpoint(phone) {
            bottom:40px;
        }
        .container {
            @include breakpoint(desktop) {
                width: 1040px;
            }
            @include breakpoint(desktop-lg) {
                width: 1040px;
            }
            @include breakpoint(laptop) {
                width: 900px;
            }
            #category-slider {
                .item {
                    a {
                        .icon-holder {
                            position: relative;
                            height: 70px;
                            img {
                                @include centre(both);
                                margin-top: 0px;
                            }
                        }
                        &:hover {
                            img {
                                margin-top: -8px;
                            }
                            small {
                                &:after {
                                    width: 100%!important;
                                }
                            }
                        }
                        .content {
                            padding-top: 10px;
                            small {
                                text-transform: uppercase;
                                color:$white;
                                display: inline-block;
                                text-align: center;
                                font-size: 1.125em;
                                font-family: $font-med;
                                letter-spacing: 0.07em;
                                font-weight: 500;
                                position: relative;
                                padding-bottom: 5px;
                                @include small-lap {
                                    font-size: 1em;
                                }
                                @include breakpoint(laptop) {
                                    font-size: 1em;
                                }
                                @include breakpoint(tablet) {
                                    font-size: 1em;
                                }
                                @include breakpoint(phone) {
                                    font-size:1em;
                                }
                                &:after {
                                    width: 0%;
                                    content:'';
                                    display: block;
                                    height: 1px;
                                    background: $white;
                                    @include centre(x);
                                    bottom:0px;
                                    @include animate-fade;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// product sale
.product-list {
    padding-top: 80px;
    padding-bottom: 90px;
    @include breakpoint(desktop) {
        padding-top: 70px;
        padding-bottom: 70px;
        font-size: 14px;
    }
    @include small-lap {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 14px;
    }
    @include breakpoint(tablet) {
        font-size: 14px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @include breakpoint(phone) {
        font-size: 13px;
        padding-top: 30px;
        padding-bottom:30px;
    }
    header {
        text-align: center;
        padding-bottom: 60px;
        @include breakpoint(desktop) {
            padding-bottom: 50px;
        }
        @include small-lap {
            padding-bottom: 50px;
        }
        @include breakpoint(laptop) {
            padding-bottom: 50px;
        }
        @include breakpoint(tablet) {
            padding-bottom: 40px;
        }
        @include breakpoint(phone) {
            padding-bottom:30px;
        }
        h3 {
            font-size: 2.688em;
            line-height: 1.1em;
            color:$heading;     
            margin-bottom: 20px;      
        }
        p {
            font-family: $font-light;
            font-weight: 30;
            font-size: 1.438em;
            letter-spacing: 0.02em;
            line-height: 1.4;
            color:$sub-heading;
            
        }
        // btn
        .btn-more {
            display: inline-block;
            font-family: $font-med;
            font-weight: 500;
            font-size: 1em;
            letter-spacing: 0.03em;
            line-height: 1.45;
            text-align: center;
            color: $brown;
            position: relative;
            text-transform: uppercase;
            &:after {
                @include font-ico;
                content:'\f105';
                @include centre(y);
                margin-left: 10px;
                margin-top: 1px;
                @include animate-fade;
            }
            &:hover {
                opacity: 0.8;
                &:after {
                    margin-left: 15px;
                }
            }            
        }
    }
    // product
    .products-slider {
        .item {
           padding-left: 15px;
           padding-right: 15px;
            &:focus {
                outline:0;
            }
        }
        .product-block {
            text-align: center;
            margin-bottom: 70px;
            @include breakpoint(desktop) {
                margin-bottom: 50px;
            }
            @include small-lap {
                margin-bottom: 40px;
            }
            @include breakpoint(laptop) {
                margin-bottom: 40px;
            }
            @include breakpoint(tablet) {
                margin-bottom: 40px;
            }
            @include breakpoint(phone) {
                margin-bottom: 20px;
            }
            &:hover {
                .image-holder {
                    border-color:$brown;
                    .action-block {
                        right: 15px;
                        @include breakpoint(tablet) {
                            right:11px;
                        }
                    }
                }
            }
            // image
            .image-holder {
                height: 320px;
                border:1px solid #dfdfdf;
                border-radius:24px;
                position: relative;
                @include animate-fade;
                overflow:hidden;
                @include small-lap {
                    height: 290px;
                }
                @include breakpoint(laptop) {
                    height: 260px;
                }
                @include breakpoint(tablet) {
                    height: 250px;
                }
                @include breakpoint(phone) {
                    height: 210px;
                }
                @include breakpoint(phone-xs) {
                    height: 190px;
                }
                img {
                    @include centre(both);
                    max-height: 290px;
                    @include small-lap {
                        max-height: 260px;
                        max-width: 70%;
                    }
                    @include breakpoint(laptop) {
                        max-height: 260px;
                        max-width: 70%;
                    }
                    @include breakpoint(tablet) {
                        max-height: 230px;
                        max-width: 70%;
                    }
                    @include breakpoint(phone) {
                        max-height: 230px;
                        max-width:70%;
                    }
                }
                // actions
                .action-block {
                    position: absolute;
                    top:15px;
                    right:-25px;
                    @include animate-fade;
                    li {
                        margin-bottom: 15px;
                        @include breakpoint(tablet) {
                            margin-bottom: 12px;
                        }
                        a {
                            font-size: 18px;
                            color:#181b29;
                            &:hover {
                                color:$brown;
                            }
                        }
                    }
                }
            }
            // content
            .content {
                padding-top: 30px;
                padding-left: 30px;
                padding-right: 30px;
                @include breakpoint(desktop) {
                    padding-left: 10px;
                    padding-right: 10px;
                }
                @include small-lap {
                    padding-left: 10px;
                    padding-right: 10px;
                }
                @include breakpoint(laptop) {
                    padding-left: 5px;
                    padding-right: 5px;
                    padding-top: 15px;
                }
                @include breakpoint(tablet) {
                    padding-left: 3px;
                    padding-right: 3px;
                    padding-top: 15px;
                }
                @include breakpoint(phone) {
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 15px;
                }
                h6 {
                    font-family: $font-italic;
                    font-weight: normal;
                    font-style: italic;
                    font-size: 1.625em;
                    line-height: 1.5;
                    margin-bottom: 10px;
                    opacity: 0.9;
                    @include breakpoint(desktop) {
                        line-height: 1.3;
                    }
                    @include small-lap {
                        line-height: 1.2;
                    }
                    @include breakpoint(laptop) {
                        font-size: 1.2em;
                        line-height: 1.2;
                    }
                    @include breakpoint(tablet) {
                        font-size: 1.2em;
                        line-height: 1.2;
                    }
                    @include breakpoint(phone) {
                        line-height: 1.2;
                        margin-bottom: 5px;
                        font-size: 1.3em;
                    }
                    a {
                        color: $product-cat;
                        &:hover {
                            color:$brown;
                            opacity: 1;
                        }
                    }
                }
                h5 {
                    margin-bottom: 20px;
                    font-size: 1.563em;
                    font-family: $font-med;
                    font-weight: 500;
                    line-height: 1.45;         
                    @include breakpoint(laptop) {
                        font-size: 1.4em;
                    }
                    @include breakpoint(tablet) {
                        font-size: 1.4em;
                    }
                    @include breakpoint(phone) {
                        margin-bottom: 10px;
                        font-size: 1.3em;
                    }
                    a {
                        color:$product-title;
                        &:hover {
                            color:$brown;
                            opacity: 1;
                        }                        
                    }
                }
            }
            // footer
            footer {
                padding-top: 20px;
                @include breakpoint(desktop) {
                    padding-top: 10px;
                }
                @include breakpoint(laptop) {
                    padding-top: 10px;
                }
                @include breakpoint(tablet) {
                    padding-top: 0px;
                }
                @include breakpoint(phone) {
                    padding-top: 5px;
                }
                span.price {
                    font-family: $font-med;
                    font-weight: 500;
                    font-size: 1.688em;
                    letter-spacing: 0.02em;
                    line-height: 1.33;
                    color: $price;
                    opacity: 0.9;
                    @include breakpoint(laptop) {
                        font-size: 1.4em;
                    }
                    @include breakpoint(tablet) {
                        font-size: 1.4em;
                    }
                    @include breakpoint(phone) {
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
    // footer
    footer {
        padding-top: 40px;
        text-align: center;
        @include breakpoint(desktop) {
            padding-top: 20px;
        }
        @include breakpoint(laptop) {
            padding-top: 30px;
        }
        @include breakpoint(tablet) {
            padding-top: 30px;
        }
        @include breakpoint(phone) {
            padding-top:30px;  
        }
        a {
            height: 64px;
            padding-left: 52px;
            padding-right: 52px;
            display: inline-block;
            background: $brown;
            line-height: 64px;
            color:$white;
            font-size: 1.1em;
            font-family: $font-med;
            font-weight: 500;
            letter-spacing: 1px;
            position: relative;
            @include breakpoint(laptop) {
                height: 60px;
                line-height: 60px;
            }
            @include breakpoint(tablet) {
                height: 60px;
                line-height: 60px;
            }
            @include breakpoint(phone) {
                height: 60px;
                line-height: 60px;
                padding-left: 45px;
                padding-right: 45px;
            }
            &:hover {
                &:after {
                    width: 100%;
                    height: 100%;
                }
            }
            span {
                position: relative;
                z-index:10;
            }
            &:after {
                @include centre(both);
                width: 0%;
                height: 100%;
                background: $black;
                content:'';
                display: block;
                z-index:1;
                transition: .15s ease-in-out;
            }
        }
    }
}

// aritst
#artist-list {
    padding-bottom: 70px;
    @include breakpoint(desktop) {
        padding-bottom: 50px;
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        padding-bottom: 50px;
        font-size: 14px;
    }
    @include breakpoint(tablet) {
        padding-bottom: 50px;
        font-size: 14px;
    }
    @include breakpoint(phone) {
        padding-bottom: 40px;
        font-size:13px;
    }
    .artist-block {
        position: relative;
        margin-bottom: 30px;
        @include breakpoint(phone) {
            margin-bottom:15px;
        }
        a {
            display: block;
            overflow:hidden;
            width: 100%;
            height: 100%;
            &:hover {
                img {
                    transform: scale(1.1) rotate(3deg);
                }
                .overlay {
                    background: rgba(0,0,0,0.26);
                }
                .caption {
                    bottom:50px!important;
                }                
            }
            img {
                width: 100%;
                height: 390px;
                object-fit: cover;
                @include breakpoint(desktop) {
                    height: 340px;
                }
                @include breakpoint(laptop) {
                    height: 340px;
                }
                @include breakpoint(tablet) {
                    height: 320px;
                }
                @include breakpoint(phone) {
                    height: 300px;
                }
            }
            .overlay {
                @include overlay;
                background: rgba(0,0,0,0.36);
                @include animate-fade;
            }
        }
        .caption {
            position: absolute;
            bottom:35px;
            left:40px;
            width: 60%;
            z-index:1;
            @include animate-fade;
            @include breakpoint(desktop) {
                width: 70%;
                bottom:25px;
                left:30px;
            }
            @include breakpoint(laptop) {
                width: 80%;
                bottom:25px;
                left:30px;
            }
            @include breakpoint(tablet) {
                width: 90%;
                bottom:20px;
                left:20px;
            }
            @include breakpoint(phone) {
                width: 90%;
                bottom:20px;
                left:20px;
            }
            h4 {
                font-size: 2.625em;
                letter-spacing: -0.02em;
                line-height: 1.4;
                color: $white;
                
            }
            p {
                color:$white;
                font-family: $font-light;
                font-weight: 300;
                font-size: 1.313em;
                letter-spacing: 0.02em;
                line-height: 1.5;
                color: $white;
                margin-top: 25px;
                @include breakpoint(tablet) {
                    margin-top: 20px;
                    font-size: 1.2em;
                }
                @include breakpoint(phone) {
                    margin-top:20px;
                }
                
            }
            span.btn-more {
                display: inline-block;
                margin-top: 24px;
                font-family: $font-light;
                font-weight: 300;
                color:$white;
                font-size: 1.313em;
                padding-bottom: 4px;
                border-bottom: 1px solid $white;
                @include animate-fade;
                @include breakpoint(tablet) {
                    font-size: 1.2em;
                    margin-top: 15px;
                }
                @include breakpoint(phone) {
                    margin-top:15px;
                }
                &:hover {
                    color:$brown;
                    border-color:$brown;
                }
            }
        }        
    }
}

// middle cta 
#middle-cta {
    text-align: center;
    position: relative;
    min-height: 460px;
    background:url('../img/bg/cta.jpg') no-repeat center center;
    background-size:cover;
    @include breakpoint(desktop) {
        font-size: 15px;
    }
    @include small-lap {
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        font-size: 14px;
        min-height: 400px;
    }
    @include breakpoint(tablet) {
        font-size: 14px;
        mine-height:400px;
    }
    @include breakpoint(phone) {
        font-size: 14px;
        min-height: 400px;
    }
    .overlay {
        @include overlay;
        background:rgba(0,0,0,0.31);
    }
    .container {
        position: relative;
        height: 100%;
        .holder {
            @include centre(both);
            max-width: 1000px;
            min-width: 800px;
            @include breakpoint(tablet) {
                max-width: 90%;
                min-width: 600px;
            }
            @include breakpoint(phone) {
                max-width: 90%;
                min-width: 90%;
            }
            h4 {
                font-family: $font-italic;
                font-size: 2.500em;
                letter-spacing: -0.02em;
                line-height: 1.5;
                color: $white;
                @include breakpoint(phone) {
                    font-size: 2em;
                    line-height: 1.2;
                }
            }
            h1 {
                font-size: 3.125em;
                letter-spacing: -0.02em;
                line-height: 1.2;
                color: $white;
                margin-top: 10px;
                @include breakpoint(phone) {
                    font-size: 3em;
                }
                
            }
            a.btn-more {
                display: inline-block;
                height: 59px;
                line-height: 59px;
                background: #c69a64;
                color:$white;
                text-transform: uppercase;
                font-family: $font-med;
                font-weight: 500;
                font-size: 0.9;
                letter-spacing: 0.03em;
                text-align: center;
                color: $white;
                min-width: 190px;
                margin-top: 30px;
                position: relative;
                @include breakpoint(laptop) {
                    height: 55px;
                    line-height: 55px;
                    min-width: 180px;
                }
                @include breakpoint(tablet) {
                    height: 55px;
                    line-height: 55px;
                    min-width: 180px;
                }
                @include breakpoint(phone) {
                    height: 55px;
                    line-height: 55px;
                    min-width: 180px;                    
                }
                &:hover {
                    background: $white;
                    color:$brown;
                }                
                
            }
        }
    }
}

// instagram
#instagram-feed {
    @include breakpoint(desktop) {
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        font-size: 15px;
    }
    @include breakpoint(tablet) {
        font-size: 14px;
    }
    @include breakpoint(phone) {
        font-size:14px;
    }
    header {
        text-align: center;
        padding-bottom: 40px;
        @include breakpoint(tablet) {
            padding-bottom: 30px;
        }
        @include breakpoint(phone) {
            padding-bottom:30px;
        }
        h4 {
            font-size: 2.375em;
            letter-spacing: -0.02em;
            line-height: 1.3;
            color: $heading;
        }
        i {
            color:$brown;
            margin-right: 10px;
        }
    }
    .instagram-list {
        display: flex;
        @include breakpoint(tablet) {
            flex-wrap: wrap;
        }
        @include breakpoint(phone) {
            flex-wrap: wrap;
        }
        .item {
            width: 20%;
            @include breakpoint(tablet) {
                width: 33%;
                flex-grow: 1;
                flex-shrink: 1;
            }
            @include breakpoint(phone) {
                width: 33%;
                flex-grow: 1;
                flex-shrink: 1;                
            }
            img {
                width: 100%;
                @include breakpoint(tablet) {
                    height: 220px;
                    object-fit: cover;
                }
            }
        }
    }
}

