// listing
#artistian-listing {
    padding-top: 60px;
    padding-bottom: 100px;
    @include breakpoint(desktop) {
        padding-top: 50px;
        padding-bottom: 70px;
    }
    @include small-lap {
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        font-size: 14px;
        padding-top: 50px;
        padding-bottom: 70px;
    }
    @include breakpoint(tablet) {
        font-size: 15px;
        padding-top: 50px;
        padding-bottom: 70px;
    }
    @include breakpoint(phone) {
        font-size: 14px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    nav {
        margin-bottom: 50px;
        text-align: center;
        @include breakpoint(desktop) {
            margin-bottom: 40px;
        }
        @include small-lap {
            margin-bottom: 40px;
        }
        @include breakpoint(tablet) {
            margin-bottom: 40px;
        }
        @include breakpoint(phone) {
            margin-bottom: 20px;
        }
        ul {
            li {
                display: inline-block;
                @include breakpoint(phone) {
                    display: block;
                }
                a {
                    display: inline-block;
                    font-family: $font-med;
                    font-weight: 500;
                    font-size: 1.250em;
                    letter-spacing: 0.09em;
                    text-align: center;
                    color: #484848;
                    height: 70px;
                    line-height: 70px;
                    padding-left: 35px;
                    padding-right: 35px;
                    margin-left: 10px;
                    margin-right: 10px;
                    border:3px solid transparent;
                    @include breakpoint(laptop) {
                        padding-left: 30px;
                        padding-right: 30px;
                        height: 60px;
                        line-height: 60px;
                        font-size: 1.1em;
                    }
                    @include breakpoint(tablet) {
                        padding-left: 30px;
                        padding-right: 30px;
                        height: 60px;
                        line-height: 60px;
                        font-size: 1.1em;      
                        margin-left: 5px;
                        margin-right: 5px;                  
                    }
                    @include breakpoint(phone) {
                        padding-left: 0px;
                        padding-right: 0px;
                        width: 100%;
                        margin-left: 0px;
                        margin-right: 0px;
                        display: block;
                    }
                    &:hover {
                        color:$brown;
                    }
                }
                &.active {
                   a {
                        border:3px solid $brown;
                        color:$brown;
                   }
                }
            }
        }
    }
    // filter bar
    #filter-bar {
        border-bottom: 1px solid rgba(112,112,112,0.22);
        margin-bottom: 40px;
        @include breakpoint(phone) {
            margin-bottom: 30px;
        }
    }
    #artisians {
        .pro-block {
            position: relative;
            overflow:hidden;
            margin-bottom: 30px;
            @include breakpoint(phone) {
                margin-bottom: 15px;
            }
            img {
                width: 100%;
                @include small-lap {
                    height: 320px;
                    object-fit: cover;
                }
                @include breakpoint(desktop) {
                    height: 320px;
                    object-fit: cover;
                }
                @include breakpoint(laptop) {
                    height: 280px;
                    object-fit: cover;
                }
                @include breakpoint(phone) {
                    height: 230px;
                    object-fit: cover;
                }
            }
            a {
                display: block;
                width: 100%;
                height: 100%;
                &:hover {
                    img {
                        transform: scale(1.1) rotate(3deg);
                    }
                    .overlay {
                        background: rgba(0,0,0,0.35);
                    }
                }
                // stars
                .stars {
                    i {
                        margin-right: 5px;
                        color:#D8D8D8;
                    }
                }
                // btn more
                .btn-more {
                    position: absolute;
                    right:60px;
                    bottom:40px;
                    display: inline-block;
                    color:$white;
                    font-size: 1.250em;
                    letter-spacing: 0.06em;
                    color: $white;
                    @include animate-fade;
                    @include breakpoint(laptop) {
                        right:40px;
                        bottom:20px;
                    }
                    @include breakpoint(phone) {
                        right:auto;
                        left:20px;
                        bottom:20px;
                        display: none;
                    }
                    &:after {
                        @include font-ico;
                        content:'\f105';
                        @include centre(y);
                        margin-left: 15px;
                        font-size: 1.4em;
                        @include animate-fade;
                    }
                    &:hover {
                        opacity: 0.8;
                        &:after {
                            margin-left: 20px;
                        }
                    }                    
                    
                }                
                .overlay {
                    @include overlay;
                    background: rgba(0,0,0,0.45);
                    @include animate-fade;
                }
                .caption {
                    position: absolute;
                    left:35px;
                    bottom:40px;
                    width: 60%;
                    @include breakpoint(laptop) {
                        bottom:20px;
                        left:20px;
                    }
                    @include breakpoint(phone) {
                        left:20px;
                        bottom:30px;
                        width: 90%;
                    }
                    h4 {
                        color:$white;
                        font-size: 2.188em;
                        letter-spacing: -0.02em;
                        line-height: 1.2;
                        color: $white;
                        margin-bottom: 15px;
                        
                    }
                }
            }
        }
    }
}

// details
#artisian-content {
    padding-top: 80px;
    padding-bottom: 40px;
    @include breakpoint(desktop) {
        padding-top: 60px;
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        padding-top: 50px;
        font-size: 15px;
    }
    @include breakpoint(tablet) {
        padding-top: 40px;
        font-size: 15px;
    }
    @include breakpoint(phone) {
        font-size: 15px;
        padding-bottom: 0px;
        margin-top: 30px;
    }
    .container {
        @include breakpoint(phone) {
            padding-left: 0%;
            padding-right: 0px;
        }
        .row {
            margin-left: 0px;
            margin-right: 0px;
            .col-lg-5 {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
    // iamge
    .image-holder {
        padding-right: 50px;
        position: relative;
        @include breakpoint(desktop) {
            padding-right: 15px;
        }
        @include breakpoint(laptop) {
            padding-right: 0px;
        }
        @include breakpoint(tablet) {
            padding-right: 0px;
        }
        @include breakpoint(phone) {
            padding-right: 0px;
            margin-bottom: 40px;
        }
        img {
            width: 100%;
        }
        header {
            position: absolute;
            bottom:25px;
            left:15px;
            width: 90%;
            z-index:9999;
            h1 {
                margin-bottom: 15px;
                line-height: 1.1;
                font-size: 2.00em;
                color:$white;              
            }    
            // reviews
            .stars {
                i {
                    margin-right: 5px;
                    color:#D8D8D8;
                    font-size:15px;
                }    
                small {
                    display: inline-block;
                    font-family: $font-light;
                    font-weight: 300;
                    font-size: 15px;
                    letter-spacing: 0.02em;
                    color: $white;
                    padding-left: 10px;
                }            
            }                    
        }
    }
    // content
    .content {
        padding-top: 30px;
        @include breakpoint(desktop) {
            padding-top: 10px;
        }
        @include breakpoint(laptop) {
            padding-top: 10px;
        }
        @include breakpoint(phone) {
            padding-top: 20px;
        }
        header {
            padding-bottom: 50px;
            @include breakpoint(desktop) {
                padding-bottom: 30px;
            }
            @include breakpoint(laptop) {
                padding-bottom: 20px;
            }
            @include breakpoint(tablet) {
                padding-bottom: 30px;
            }
            @include breakpoint(phone) {
                padding-bottom: 30px;
            }
            h1 {
                margin-bottom: 20px;
                line-height: 1.3;
                font-size: 2.500em;
                color:#050505;
                @include breakpoint(laptop) {
                    margin-bottom: 15px;
                }
                @include breakpoint(phone) {
                    margin-bottom: 15px;
                }
            }
            // reviews
            .stars {
                i {
                    margin-right: 5px;
                    color:#D8D8D8;
                    font-size: 1.375em;
                }    
                small {
                    display: inline-block;
                    font-family: $font-light;
                    font-weight: 300;
                    font-size: 1.375em;
                    letter-spacing: 0.02em;
                    color: #747474;
                    padding-left: 10px;
                }            
            }
        }
        .description {
            p {
                font-family: $font-light;
                font-weight: 300;
                font-size: 1.063em;
                letter-spacing: 0.02em;
                line-height: 2em;
                color: #747474;
                margin-bottom: 50px;
                @include breakpoint(desktop) {
                    margin-bottom: 25px;
                }
                @include breakpoint(laptop) {
                    margin-bottom: 15px;
                }
                @include breakpoint(tablet) {
                    margin-bottom: 30px;
                }
                @include breakpoint(phone) {
                    margin-bottom: 30px;
                }
            }
        }
        // additional info
        .additional-info {
            display: flex;
            margin-top: 30px;
            @include breakpoint(desktop) {
                margin-top: 20px;
            }
            @include breakpoint(laptop) {
                margin-top: 20px;
            }
            @include breakpoint(tablet) {
                margin-top: 0px;
            }
            @include breakpoint(phone) {
                justify-content: space-around;
            }
            .add-block {
                text-align: center;
                width: 20%;
                @include breakpoint(laptop) {
                    width: 25%;
                }
                @include breakpoint(phone) {
                    width: auto;
                    margin-bottom: 30px;
                }
                &:hover {
                    i {
                        color:$brown;
                        opacity: 1!important;
                    }
                    small {
                        a {
                            color:$brown;
                        }
                    }
                }
                .icon-holder {
                    height: 60px;
                    position: relative;
                    @include breakpoint(laptop) {
                        height: 50px;
                    }
                    @include breakpoint(phone) {
                        height: 40px;
                    }
                    i {
                        @include centre(x);
                        bottom:0px;
                        font-size: 34px;
                        font-weight: 300;
                        opacity: 0.4;
                        @include animate-fade;
                        @include breakpoint(laptop) {
                            font-size: 30px;
                        }
                        @include breakpoint(phone) {
                            font-size: 28px;
                            color:$brown;
                        }
                    }
                    a {
                        color:#ADADAD;
                    }
                }
                small {
                    font-size: 1.063em;
                    letter-spacing: 0.1em;
                    color: #a7a7a7;
                    opacity: 0.9;
                    padding-top: 20px;
                    display: block;
                    @include breakpoint(laptop) {
                        font-size: 14px;
                    }
                    @include breakpoint(phone) {
                        font-size: 13px;
                    }
                    @include breakpoint(phone-xs) {
                        font-size: 11px;
                    }
                    a {
                        color: #a7a7a7;
                    }
                }
            }
        }
    }
}

// reviews
#reviews-page {
    @include breakpoint(phone) {
        padding-top: 30px;
    }
    header {
        text-align: center;
        padding-bottom: 60px;
        padding-bottom: 120px;
        @include breakpoint(desktop) {
            padding-bottom: 50px;
        }
        @include small-lap {
            padding-bottom: 50px;
        }
        @include breakpoint(laptop) {
            padding-bottom: 50px;
        }
        @include breakpoint(tablet) {
            padding-bottom: 40px;
        }
        @include breakpoint(phone) {
            padding-bottom:30px;
        }
        h5 {
            font-size: 2.688em;
            line-height: 1.1em;
            color:$heading;     
            margin-bottom: 20px;      
        }      
    }
}

// products slider
#products-slider {
    padding-left: 60px;
    padding-right: 60px;
    @include breakpoint(desktop) {
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 15px;
    }
    @include breakpoint(phone) {
        padding-left: 0px;
        padding-right: 0px;
        font-size: 15px;
    }
    .item {
        padding-left: 15px;
        padding-right: 15px;
        @include breakpoint(phone) {
            padding-left: 2px;
            padding-right: 2px;
        }
        .product-block {
            position: relative;
            overflow:hidden;
            img {
                width: 100%;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
                .overlay {
                    background: rgba(0,0,0,0.23);
                }
            }            
            a {
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                img {
                    width: 100%;
                }
                .overlay {
                    @include overlay;
                    background: rgba(0,0,0,0.35);
                    @include animate-fade;
                }
                .caption {
                    position: absolute;
                    bottom:30px;
                    left:30px;
                    width: 80%;
                    @include breakpoint(laptop) {
                        left:20px;
                        bottom:20px;
                    }
                    @include breakpoint(tablet) {
                        left:20px;
                        bottom:20px;
                    }
                    @include breakpoint(phone) {
                        left:10px;
                        bottom:15px;
                    }
                    h4 {
                        color:$white;
                        font-size: 2em;
                        line-height: 1.2;
                        @include breakpoint(phone) {
                            font-size: 1em;
                            line-height: 1.1;
                        }
                    }
                }
            }
        }
    }
}