/*=================================
=            Top Block            =
=================================*/
#block-top--area {
  background: #f1f1f1;
  padding-top: 10px;
  padding-bottom: 10px;
  /* bar info */
  /* branding bar */ }

/*=====  End of Top Block  ======*/
