/*=================================
=            Resources            =
=================================*/
#block-resources--wrapper {
  padding-top: 70px;
  padding-bottom: 70px; }

/*=====  End of Resources  ======*/
