// intro
#page-intro {
    position: relative;
    @include breakpoint(desktop) {
        font-size: 15px;
    }
    @include small-lap {
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        font-size: 14px;
    }
    @include breakpoint(tablet) {
        font-size: 14px;
    }
    @include breakpoint(phone) {
        font-size: 13px;
    }
    header {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 30px;
        @include breakpoint(phone) {
            padding-top: 30px;
            padding-bottom: 20px;
        }
        h1 {
            font-size: 3.250em;
            line-height: 1.2;
            color: $main-heading;
            @include breakpoint(phone) {
                font-size: 3em;
            }
            
        }
    }  
    // content
    .content {
        text-align: center;
        padding-bottom: 60px;
        @include breakpoint(desktop) {
            padding-bottom: 30px;
        }
        @include breakpoint(laptop) {
            padding-bottom: 30px;
        }
        @include breakpoint(tablet) {
            padding-bottom: 30px;
        }
        @include breakpoint(phone) {
            padding-bottom: 30px;
        }
        p {
            font-family: $font-light;
            font-weight: 300;
            font-size: 1.375em;
            letter-spacing: 0.01em;
            line-height: 1.5;
            color: $regular-text;
            margin-bottom: 35px;
            @include breakpoint(desktop) {
                margin-bottom: 20px;
            }
        }
        a.btn-more {
            display: inline-block;
            font-family: $font-med;
            font-weight: 500;
            font-size: 1.375em;
            letter-spacing: 0.03em;
            line-height: 1.45;
            text-align: center;
            color: $brown;
            position: relative;
            &:after {
                @include font-ico;
                content:'\f105';
                @include centre(y);
                margin-left: 15px;
                font-size: 1.4em;
                @include animate-fade;
            }
            &:hover {
                opacity: 0.8;
                &:after {
                    margin-left: 20px;
                }
            }
        }
    }  
}

// breadcrumb
#breadcrumb {
    position: relative;
    margin-top: 140px;
    padding-top: 15px;
    font-size: 0.875em;
    letter-spacing: 0.06em;
    line-height: 1.1;
    color: #a7a7a7;
    
    @include breakpoint(desktop) {
        font-size: 15px;
    }
    @include small-lap {
        font-size: 15px;
        margin-top: 120px;
    }
    @include breakpoint(laptop) {
        font-size: 14px;
        margin-top: 120px;
    }
    @include breakpoint(tablet) {
        margin-top: 120px;
        font-size: 14px;
    }
    @include breakpoint(phone) {
        display: none;
    }    
}