// footer
#page-footer {
    background: #f9f9f9;
    padding-top: 45px;
    padding-bottom: 45px;
    position: relative;
    @include breakpoint(laptop) {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    @include breakpoint(tablet) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include breakpoint(phone) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &:before {
        content:'';
        display: block;
        width: 100%;
        height: 4px;
        @include centre(x);
        top:-2px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ede4dc+0,c2945c+50,ede4dc+100 */
background: rgb(237,228,220); /* Old browsers */
background: -moz-linear-gradient(left, rgba(237,228,220,1) 0%, rgba(194,148,92,1) 50%, rgba(237,228,220,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(237,228,220,1) 0%,rgba(194,148,92,1) 50%,rgba(237,228,220,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(237,228,220,1) 0%,rgba(194,148,92,1) 50%,rgba(237,228,220,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ede4dc', endColorstr='#ede4dc',GradientType=1 ); /* IE6-9 */
    }
    @include small-lap {
        padding-top: 35px;
        padding-bottom: 35px;
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        padding-top: 35px;
        padding-bottom: 35px;
        font-size: 15px;
    }
    @include breakpoint(tablet) {
        font-size: 14px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    // fotoer info
    .footer-info {
        text-align: center;
        .socials {
            margin-top: 30px;
            @include breakpoint(phone) {
                margin-top: 20px;
            }
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    font-size: 20px;
                    color:$brown;
                    width: 50px;
                    height: 50px;
                    margin-left: 5px;
                    margin-right: 5px;
                    border:1px solid #eee6db;
                    border-radius:50%;
                    text-align: center;
                    line-height: 50px;
                    @include breakpoint(tablet) {
                        width: 46px;
                        height: 46px;
                        line-height: 46px;
                        font-size: 18px;
                    }
                    @include breakpoint(phone) {
                        width: 42px;
                        height: 42px;
                        line-height: 42px;
                        font-size: 18px;
                    }
                    &:hover {
                        background: $brown;
                        color:$white;
                    }
                }
            }
        }
    }
    // sitemap
    .footer-links {
        margin-top: 50px;
        .footer-sitemap {
            @include breakpoint(phone) {
                margin-bottom: 30px;
            }
            span.title {
                text-transform: uppercase;
                font-family: $font-heading;
                font-weight: 400;
                color:$heading;
                margin-bottom: 23px;
                display:block;
                font-size: 1.313em;
                opacity: 0.9;
                letter-spacing: 0.03em;
                @include breakpoint(phone) {
                    margin-bottom: 15px;
                }
            }
            ul {
                li {
                    a {
                        display: block;
                        font-size: 1em;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        color:$footer-link;
                        font-family: $font-light;
                        font-weight: 300;
                        &:hover {
                            color:$brown;
                        }
                    }
                }
            }
        }
        // footer contact
        .footer-contact {
            span.title {
                text-transform: uppercase;
                font-family: $font-heading;
                font-weight: 400;
                color:$heading;
                margin-bottom: 23px;
                display:block;
                font-size: 1.313em;
                opacity: 0.9;
                letter-spacing: 0.03em;                
            }
            .content {
                padding-top: 10px;
            }
            .cards {
                margin-top: 30px;
                display: flex;
                .card-block {
                    margin-right: 10px;
                    i {
                        font-size: 42px;
                        color:$brown;
                        @include breakpoint(tablet) {
                            font-size: 28px;
                        }
                    }
                }
            }
            p {
                margin-bottom: 20px;
                font-size: 1em;
                font-family: $font-light;
                font-weight: 300;
                a {
                    color:$footer-link;
                    @include breakpoint(tablet) {
                        display:block;
                        padding-left: 25px;
                        padding-top: 5px;
                    }
                    &:hover {
                        color:$brown;
                    }
                }
                i {
                    color:$brown;   
                    margin-right: 10px;
                }
            }
        }
    }
}

// copy bar
#copy-bar {
    background: #f9f9f9;
    border-top:1px solid #e9e9e9;
    padding-top: 30px;
    padding-bottom: 30px;
    @include small-lap {
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 15px;
    }
    @include breakpoint(tablet) {
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: 14px;
    }
    @include breakpoint(phone) {
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 15px;
    }
    .container {
        display:flex;
        justify-content: space-between;
        position: relative;
        @include breakpoint(phone) {
            display: block;
        }
        // to top
        .to-top {
            background: $white;
            display: block;
            width: 50px;
            height: 50px;
            border-radius:100%;
            text-align: center;
            position: absolute;
            right:0px;
            top:-55px;
            color:#707070;
            @include breakpoint(phone) {
                right:5px;
                width: 44px;
                height: 44px;
                top:-45px;
            }
            i {
                @include centre(both);
                font-size: 26px;
            }
            &:hover {
                background: $brown;
                color:$white;
            }
        }
    }
    // ntice
    .copy-notice {
        width: 50%;
        @include breakpoint(phone) {
            width: 100%;
            text-align: center;
        }
        small {
            font-family: $font-light;
            font-weight: 300;
            font-size: 0.9;
            letter-spacing: 0.02em;
            line-height: 1.2;
            color: $top-links;
        }
    }
    // powered
    .powered-by {
        text-align: right;
        margin:auto;
        width: 50%;
        padding-right: 100px;
        @include breakpoint(phone) {
            padding-right: 0px;
            width: 100%;
            text-align: center;
            padding-top: 15px;
        }
        p {
            font-family: $font-light;
            font-weight: 300;
            font-size: 0.9;
            letter-spacing: 0.02em;
            line-height: 1.2;
            color: $top-links;
        }
    }
}