// top
#top {
    background: $white;
    @include animate-fade;
    @include small-lap {
        font-size: 15px;
    }
    @include breakpoint(laptop) {
        font-size: 15px;
    }
    @include breakpoint(tablet) {
        font-size: 14px;
    }
    @include breakpoint(phone) {
        font-size: 14px;
    }
    // top bar
    #top-bar {
        border-bottom:1px solid #efefef;
        @include animate-fade;
        .container {
            display: flex;
            height: 52px;
            justify-content: space-between;
            align-items: center;
            @include small-lap {
                height: 42px;
            }
            @include breakpoint(laptop) {
                height: 42px;
            }
            @include breakpoint(tablet) {
                height: 42px;
            }
            @include breakpoint(phone) {
                height: 42px;
            }
        }
        // info 
        .top-bar__info {
            width: 50%;
            p {
                text-transform: uppercase;
                font-size: 0.750em;
                color:$gray;
                a {
                    color:$gray;
                    &:hover {
                        color:$brown;
                    }
                }
            }
        }
        // links
        .top-bar__links {
            text-align: right;
            width: 50%;
            @include breakpoint(phone) {
                text-align: center;
                width: 100%;
            }
            ul {
                li {
                    display: inline-block;
                    a {
                        display: inline-block;
                        font-size: 0.750em;
                        color:$gray;
                        padding-left: 10px;
                        padding-right: 10px;
                        i {
                            margin-right: 10px;
                            color:#202020;
                            @include animate-fade;
                        }
                        &:hover {
                            color:$brown;
                            i {
                                color:$brown;
                            }
                        }
                    }
                }
            }
        }
    }
    // menu bar
    #menu-bar {
        border-bottom:1px solid #efefef;
        .container {
            display: flex;
            height: 88px;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            @include small-lap {
                height: 78px;
            }
            @include breakpoint(laptop) {
                height: 78px;
            }
            @include breakpoint(tablet) {
                height: 78px;
            }
            @include breakpoint(phone) {
                height: 68px;
            }
            // logo
            .branding {
                // width: 25%;
                width: 170px;
                @include breakpoint(laptop) {
                    width: 140px;
                }
                @include breakpoint(tablet) {
                    width: 140px;
                }
                @include breakpoint(phone) {
                    width: 130px;
                }
                img {
                    @include breakpoint(laptop) {
                        width: 140px;
                    }
                    @include breakpoint(tablet) {
                        width: 140px;
                    }
                    @include breakpoint(phone) {
                        width: 130px;
                    }
                }
            }   
            // main menu  
            #main-menu {
                // width: 50%;
                margin-left: 150px;
                width: calc(100% - 490px);
                @include breakpoint(desktop) {
                    margin-left: 100px;
                    width: calc(100% - 440px);
                }
                @include breakpoint(laptop) {
                    margin-left: 20px;
                    width: calc(100% - 260px);                    
                }
                @include breakpoint(phone) {
                    display: none!important;
                }
            } 
            // actions bar
            #actions-bar {
                // width: 25%;
                width: 150px;
                text-align: right;
                margin-left: auto;
                @include breakpoint(laptop) {
                    width: 100px;
                }
                @include breakpoint(phone) {
                    width: 100px;
                }
                ul {
                    li {
                        display: inline-block;
                        a {
                            display: inline-block;
                            color:#58594A;
                            font-size: 20px;
                            &:hover {
                                color:$brown;
                            }
                        }
                    }
                }
            } 
        }
    }
}

// stickly
.sticky {
  margin-top: -52px!important;  
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: none!important;
}