/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 *
 * @geedmo - Licensed under the MIT license
 */

//-----------------------------
//  Yamm Styles
//-----------------------------

.yamm {

    // reset positions
    .nav, .collapse, .dropup, .dropdown {
      position: static;
    }
  
    // propagate menu position under container for fw navbars
    .container {
      position: relative;
    }
  
    // by default aligns menu to left
    .dropdown-menu {
      left: auto;
    }
  
    // Content with padding
    .yamm-content {
      padding: 20px 30px;
    }
  
    // Fullwidth menu
    .dropdown.yamm-fw .dropdown-menu {
      left: 0; right: 0;
    }
  
  }

  // desktop
  #menu-bar {
    .navbar-nav {
        > li {
           > a {
                text-transform: uppercase;
                height: 78px;
                display: inline-block;
                line-height: 78px;
                padding:0px;
                font-family: $font-med;
                font-weight: 500;
                font-size: 0.875em;
                color:$black;
                letter-spacing: 0.03em;
                padding-left: 20px;
                padding-right: 20px;
                position: relative;
                @include small-lap {
                    height: 70px;
                    line-height: 70px;                    
                }
                @include breakpoint(desktop) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                @include breakpoint(laptop) {
                    padding-left: 12px;
                    padding-right: 12px;
                    height: 70px;
                    line-height: 70px;
                }
                &:after {
                    width: 0%;
                    height: 4px;
                    background: $brown;
                    position: absolute;
                    left:0px;
                    bottom:0px;
                    content:'';
                    display: block;
                    opacity:0;
                    @include animate-fade;
                }
                &:hover {
                    &:after {
                        width: 100%;
                        opacity: 1;
                    }
                    .caret-down {
                        &:after {
                            color:$brown;
                        }
                    }
                }
            }
        }
        .caret-down {
            &:after {
                @include font-ico;
                content:'\f107';
                @include centre(y);
                color:#bfbfbf;
                right:0px;
                @include animate-fade;
                @include breakpoint(laptop) {
                    right:-2px;
                }
            }
        }
    }
    .dropdown-menu {
        box-shadow:none;
        border-radius:0px;
        border:1px solid rgba(112,112,112,0.06);
        padding:45px;
        padding-top: 35px;
        min-width:520px;
        @include breakpoint(laptop) {
            padding:30px;
        }
        h4 {
            text-transform: uppercase;
            display:block;
            margin-bottom: 20px;
            font-family: $font-med;
            font-weight: 500;
            font-size: 1em;
            letter-spacing: 0.08em;
            color:$black;            
        }
        // cat block
        .cat-block {
            ul {
                li {
                    a {
                        display:block;
                        font-family: $font-main;
                        font-size: 0.875em;
                        letter-spacing: 0.02em;
                        line-height:1.4;
                        color:$black;
                        opacity: 0.76;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        &:hover {
                            color:$brown;
                            padding-left: 10px;
                        }
                    }
                    &.view-all--btn {
                        a {
                            color:$brown;
                            opacity: 1;
                        }
                    }
                }
            }            
        }
        // menu block
        .menu-block {
            span.title {
                display:block;
                margin-bottom: 20px;
                font-family: $font-med;
                font-weight: 500;
                font-size: 1em;
                letter-spacing: 0.08em;
                color:$black;
                text-transform: uppercase;
            }
            ul {
                li {
                    a {
                        display:block;
                        font-family: $font-main;
                        font-size: 0.875em;
                        letter-spacing: 0.02em;
                        line-height:1.4;
                        color:$black;
                        opacity: 0.76;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        &:hover {
                            color:$brown;
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
    }
  }

