/**
 *
 * Reset CSS
 *
 */

/*=============================
=            Reset            =
=============================*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote {

	&:before,
	&:after {
		content: '';
		content: none;
	}
}

q {

	&:before,
	&:after {
		content: '';
		content: none;
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	line-height: 1;
}

/*-----  End of Reset  ------*/

/*=======================================
=            Bootstrap Reset            =
=======================================*/


#navbar {
	padding: 0px;
	border: none;
	background: none !important
}

.navbar-default {
	border: none;
	margin-bottom: 0px !important;
	background: none !important;
	background-color: none !important;
}

/*=====  End of Bootstrap Reset  ======*/

/*=================================
=            iOS Reset            =
=================================*/

input[type="submit"],
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
	-webkit-appearance: none;
}

/*=====  End of iOS Reset  ======*/

/*====================================
=            Global Rules            =
====================================*/

button {
	@include animate-fade;

	&:hover {
		cursor: pointer;
	}

	&:focus {
		outline: 0;
	}
}

input {
	&:focus {
		outline: 0;
	}
}

textarea {
	&:focus {
		outline: 0;
	}
}

input[type="submit"] {
	@include animate-fade;

	&:hover {
		cursor: pointer;
	}
}

/*=====  End of Global Rules  ======*/

/*=================================
=            No Gutter            =
=================================*/

.no-gutter>[class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}

/*=====  End of No Gutter  ======*/

ul.nav li.dropdown:hover ul.dropdown-menu {
	display: block;
}

.item {
    &:focus {
        outline:0;
    }
}

.no-margin {
	margin:0px!important;
}