/**
 *
 * Variables
 *
 */


/*===================================
=            Base Colors            =
===================================*/

$white:#fff;
$black:#000;

$brown:#C69A64;
$gray:#484848;

/*=====  End of Base Colors  ======*/

/*=====================================
=            Custom colors            =
=====================================*/

$heading:#050505;
$sub-heading:#747474;
$text:#050505;
$regular-text:#7e7e7e;
$price:#2E3333;
$footer-title:#484848;
$footer-link:#747474;
$product-cat:#747474;
$product-title:#212121;
$top-links:#484848;
$main-heading:#1a1a1a;

/*=====  End of Custom colors  ======*/

/*====================================
=            Font Weights            =
====================================*/

$bold: 700;
$semi-bold: 600;
$regular: 400;
$light: 300;

/*=====  End of Font Weights  ======*/

/*==================================
=            Font Sizes            =
==================================*/

$base-size: 16px;

/*=====  End of Font Sizes  ======*/
