/**
 *
 * Pulls on breakpoints
 *
 */

@media (max-width: 767px) {
  /** Pull left xs **/
  .pull-left-xs {
    float: left;
  }

  /** Pull right xs **/
  .pull-right-xs {
    float: right;
  }
}

@media (min-width: 768px) {
  /** Pull left sm **/
  .pull-left-sm {
    float: left;
  }

  /** Pull right sm **/
  .pull-right-sm {
    float: right;
  }
}

@media (min-width: 992px) {
  /** Pull left **/
  .pull-left-md {
    float: left;
  }

  /** Pull right **/
  .pull-right-md {
    float: right;
  }
}

@media (min-width: 1200px) {
  /** Pull left **/
  .pull-left-lg {
    float: left;
  }

  /** Pull right **/
  .pull-right-lg {
    float: right;
  }
}
